/* ---- COLORS ------
Black:  #0C0B0B
White:  #FFF
Red:    #7A0607
Green:  #04BF68
Orange: #E55800
---------------------*/
/* ----- IMPORTS ----*/

/* ---- FONT FACE ---*/
@import "imports/variables.css";
@import "imports/testing.css";
@import "imports/typography.css";
@import "imports/layout.css";
/* ---- GLOBALS -----*/
h1, h2, h3 {
    font-family: "Abril Fatface", 'Times New Roman', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

a {
    text-decoration: none;
}

header, footer {
    background-color: #0C0B0B;
    color: #FFF;
}

/* ---- NAV ---- */
nav {
    display:none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~  nav {
    display: block;
}


nav ul {
    padding: 0;
}

nav a {
    font-size: bold;
}
nav .active {
    background-color: beige;
}

/* ----- Signup Page -----*/
   
/* ------ MEDIA Q's ------*/
@media only screen and (min-width:320px) {
    header {
        display: grid;
        grid-template-columns: repeat (2fr);
        grid-gap: 10px;
    }
    
}






@media only screen and (min-width:600px) {
    nav {
        display: inline-block;
    }
    nav li {
        display: inline-block;

    }
    label, input {
        display: none;
    }
    
}