/* ---- COLORS ------
Black:  #0C0B0B
White:  #FFF
Red:    #7A0607
Green:  #04BF68
Orange: #E55800
---------------------*/
/* ----- IMPORTS ----*/

/* ---- FONT FACE ---*/
@import "imports/variables.css";
@import "imports/testing.css";
@import "imports/typography.css";
@import "imports/layout.css";
/* ---- GLOBALS -----*/
h1, h2, h3 {
    font-family: "Abril Fatface", 'Times New Roman', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
/*
html, body {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}
*/
a {
    text-decoration: none;
}

header, footer {
    background-color: #0C0B0B;
    color: #FFF;
}

/* ---- NAV ---- */
nav {
    display:none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~  nav {
    display: block;
}


nav ul {
    padding: 0;
}


/* ----- Signup Page -----*/
   
/* ------ MEDIA Q's ------*/
@media only screen and (min-width:320px) {
   header {
       min-height: 65px;
   }

}






@media only screen and (min-width:600px) {

    nav {
        display: inline-block;
        min-height: 85px;
        margin-left: 30px;
    }

    .logo-container {
        flex: 3;
    }

    .hamburger-menu {
        flex: 3;
    }

    .profile-wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .recently-watched_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    nav li {
        display: inline-block;
    }
        
    label, input {
        display: none;
    }
    
    nav a:hover {
        color: #04BF68;
        text-decoration: underline;
    }

    nav a {
        color: #FFF;

    }

}


@media only screen and (min-width:800px) {
    nav .active {
        background-color: rgb(51, 51, 50);
        padding: 1.2em 1.2em .8em 1.2em;
    }
    .recently-watched_container {
        margin: 0 auto;
        max-width: 1100px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .profile-wrapper {
        background-color: blanchedalmond;
        flex-direction: row;
    }
