html, 
body {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}

main {
    padding: 5px;
}

figure {
    padding-top: 10px;
    margin: 0px auto;
    width: 100%;

}

.content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;

}

.profile-card {
    min-width: 350px;
    border-radius: 8px;
}



.profile_img_bio {
    width: 100%;
}

.recent-movie_img {
    text-align: left;
    width: 100%;  
}

.recently-watched_section {
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
}

.recently-watched_container{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;

}

.recent-movies_creator{
    background-color: rgb(235, 235, 227);
    border-radius: 8px;
    min-height: 400px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgb(139, 138, 138);
}
.link-box {
    margin: 10px auto;
    padding: 10px 0px 20px 0px;
}

/* ----- BUTTONS ----- */

.cta-review_btn, 
.cta-rate_btn {
    margin-right: 20px;
    transition-property: background;
    transition-duration: .5s;
    color: #FFF;
    background-color: #E55800;
    padding: 12px;
    border-radius: 3px;
}

.cta-review_btn:hover {
    background-color: #04BF68;    
}

.cta-rate_btn:hover {
    background-color: #04BF68;    
}

.cta-search_btn {
    display: block;
}

.search-cta_small {
    width: 60px;
    height: 25px;
    border-radius: 4px;
    color: black;
    background-color:#04BF68;
    border: 1px solid black;
}

.filter-cta_small {
    width: auto;
    padding: 5px;
    height: 25px;
    border-radius: 4px;
    color: black;
    background-color:#FFF;
    border: 1px solid black;
}

/* ---- Imges -----*/
.movie.image-movie-cover_small
/* ----- FILMS & Pay Pr View ----- */

}


.film-page-header {
    background-color: chocolate;
    height: 200px;
    display: flex;
    align-content: stretch;
}

.search-container {
    width: 100px;
    display:flex;
    justify-content: space-around;
  }


.search-filter-tags {
    height: auto;
    display: flex;
    flex-wrap: wrap;
      
  }

.film-search-container {
    display: flex;
    flex-direction: column;
    background: darkgray;
}


/* ------ FOOOTER ------ */

