h1, h2, h3 {
    font-family: "Abril Fatface", 'Times New Roman', serif;
}

p,a {
    font-family: 'Roboto', sans-serif;
}

nav li {
    font-family: 'Roboto';
    font-weight: bold;
    padding: 0px 15px;
}



.films h1 {
    color: #FFF;
    text-align: center;
}

.welcome-hero > h1 {
    font-size: 2rem;
    color: #FFF;
    text-align: center;
}

.welcome-hero, .signup-hero-container, .readmore-box > p {
    padding-top: 20px;
    font-size: 1.4rem;
    color: #FFF;
    text-align: center;
}

.signup > h1 {
    text-align: center;
}

